body {
  margin: 0;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffe6eb;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  
  width: min(700px, 90vw);
  box-sizing: border-box;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.keypad button {
  padding: 18px;
  font-size: 20px;
  border-radius: 12px;
  border: none;
  background: #ffb6c1;
  cursor: pointer;
}

.keypad button:hover {
  background: #ff4d6d;
  color: white;
}

.clear {
  background: #ccc;
}

.enter {
  background: #ff4d6d;
  color: white;
}